@import url(https://fonts.googleapis.com/css2?family=Georama&family=ZCOOL+XiaoWei&display=swap);


body {
  font-family: 'Georama', sans-serif;
}

.people img {
  width: 150px;
  border-radius: 10px;
}

.people {
  float: left;
  font-size: large;
  margin-right: 50px;
}

header {
    background-color:#c3f5c9;
    height: 100px;
    padding: 30px;
}

.logo img {
  width:150px;
  height: 100px;
}
nav {
    font-family: 'Georama', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    display: flex;
    justify-content: space-between;
}

.lang-menu {
margin-top: 10px;

}

.lang-menu ul{
    margin:0px;
    padding: 5px;
    background-color: hsla(39, 77%, 83%, 0.692);
    border: 1px solid black;  
}

.lang-menu ul li {
    list-style: none;
    padding: 5px;
}


