@import url(https://fonts.googleapis.com/css2?family=Georama&family=ZCOOL+XiaoWei&display=swap);

body {
  font-family: "Georama", sans-serif;
  background-color: #e9fceb;
}

header {
  background-color: #c3f5c9;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 5px gray;
  padding: 15px;
  position: sticky;
  top: 0px;
  margin: -10px;
}

.logo img {
  width: 120px;
  height: 100px;
}

nav ul {
  margin-top: 15px;
  overflow: hidden;
}

nav ul li {
  width: 120px;
  margin: 30px;
  font-size: 20px;
  background-color: #92ed9d;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
}

.lang ul {
  margin-top: 25px;
}

.lang ul li {
  background-color: #92ed9d;
  margin: 10px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
}

.lang a {
  color: black;
  text-decoration: none;
}

.lang a:hover {
  color: white;
}

.content {
  animation: transition 0.5s;
}

@keyframes transition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
